RESEND_API_KEY=re_dummy_key_replace_me
SUPABASE_DB_PASSWORD=dummy_password_replace_me

NEXT_PUBLIC_SUPABASE_URL=https://dummy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_dummy_replace_me